.box {
    border: solid;
    margin-bottom: .1em;
}

body {
    width: 50%;
    margin: auto;
    padding: 0.5em;
}

header {
    background-color: orange;
    padding: 1em;
    text-align: center;
}

footer {
    background-color: blue;
    padding: 1em;
    text-align: center;
}

.clr {
    clear: both;
}

aside {
    float: left;
    width: 30%;
    padding: 2em;
    background-color: green;
    min-height: 200px;
}

main {
    float: right;
    width: 52%;
    padding: 2em;
    background-color: purple;
    text-align: end;
    min-height: 200px;
}