div {
    border: solid;
    border-color: black;
    position: absolute;
    min-width: 100px;
    min-height: 100px;
}

#d1 {}

#d2 {
    top: 20%;
    left: 10%;
    background-color: white;
    z-index: 2;
}

#d3 {
    top: 40%;
    background-color: white;
    z-index: 3;
    width: 50%;
}

#d4 {
    left: 30%;
    background-color: white;
    z-index: 4;
    height: 70%;
}