body {
    background-color: steelblue;
    color: white;
}

main {
    width: 70%;
    margin: auto;
}

button {
    color: white;
}

.btn-type {
    width: 80%;
    display: inline-block;
    margin: 0% 10%;
}

.btn-type>h4 {
    text-align: center;
}

.Register {
    float: left;
    padding: .5em;
}

.Submit {
    float: right;
    padding: .2em;
}

.Flat {

    border-radius: 0%;
}

.Ghost {
    background-color: transparent;
}

.Round {
    border-radius: 35%;
    border-style: ridge;
}

.Register.Flat {
    background-color: rgb(63, 63, 255);
}

.Submit.Flat {
    background-color: gold;
}

.Register.Flat:hover {
    background-color: darkblue;
}

.Submit.Flat:hover {
    background-color: darkgoldenrod;
}

.Register.Round {
    background-color: green;
}

.Register.Round:hover {
    background-color: darkgreen;
}

.Submit.Round {
    border-color: salmon;
    background-color: pink;
}

.Submit.Round:hover {
    background-color: salmon;
}

.Register.Flat.Ghost {
    border-color: red;
    background-color: transparent;
}

.Register.Flat.Ghost:hover {
    background-color: red;
}

.Submit.Flat.Ghost {
    border-color: purple;
    background-color: transparent;
}

.Submit.Flat.Ghost:hover {
    background-color: purple;
}

.Register.Ghost.Round {
    border-color: yellow;
    background-color: transparent;
}

.Register.Ghost.Round:hover {
    background-color: yellow;
}

.Submit.Ghost.Round {
    background-color: transparent;
    border-color: turquoise;
}

.Submit.Ghost.Round:hover {
    background-color: turquoise;
}